.sidebar {
display: none;
}

.sidebar.open {
    display: flex;
}

.background {
}

.nav {
}

.nav a {
    color: #000000;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: red;
}
.close {
}

.close img {
}
