.sidebar {
    display: none;
}

.sidebar.open {
    display: flex;
    flex-direction: row;
    width: 317px;
    height: 300px;
    background-color: green;
    position: absolute;

}

.background {

}

.nav {

}

.nav a {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #000000;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    color: red;
}

.close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 269px;
}

.close img {
}
