.tech {
    width: 50vw;
    border-bottom: #E5E5E5 1px solid;
}

.developer {
    border-bottom: #E5E5E5 1px solid;
}

.techHeader {
    width: 50vw;
    background-color: #E5E5E5;
}

.developerHeader {
    background-color: #E5E5E5;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    border: 16px solid #0066CC;
    border-top: 16px solid #FFFFFF00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 70%;
    left: 50%;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}