.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
}

.loading {
    border: 16px solid #0066CC;
    border-top: 16px solid #FFFFFF00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}