.sendForm {
    text-align: right;
}

.textarea {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #0066CC;
    top: 611px;
    left: 70px;
    position: absolute;
    transition: 0.2s;
}

.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #0066CC;
    top: 611px;
    left: 450px;
    position: absolute;
    color: white;
}

.button:hover {
    border: 2px solid #0066CC;
}

.button:active {

}
