.sendForm {
    text-align: right;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.textarea {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #0066CC;


    transition: 0.2s;
}

.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #0066CC;


    color: white;
}

.button:hover {
    border: 2px solid #0066CC;
}

.button:active {

}
